/*bg setting*/
.bg-decoration {
    opacity: 1;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: fixed;
    top: 0;
    transition: opacity 700ms;
    width: 100%;
    filter: blur(2px);
    z-index: -100;
}
.bg-img{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url('../image/new.jpg');
}
/*body*/
.body-container {
    position: relative;
    padding-top: 60px;
    width: 100%;
    height: auto;
    min-height: 800px;
    padding-bottom: 100px;
}
.body-main{
    width: 800px;
    padding: 3%;
    margin: 0 auto;
    background-color: white;
    opacity: .95;
    border-radius: 7px;
    box-shadow: 3px 3px 10px #66BAB7;
}
.body-art{
    width: 100%;
    overflow: hidden;
}
article h1{
    cursor: default;
    font-size: 30px;
    text-align: center;
}
.art-info{
    height: 15px;
    cursor: default;
    text-align: center;
}
.art-info div {
    display: inline-block;
    padding-right: 10px;
}
.art-info div span {
    display: block;
    height: 15px;
}
.art-info div span div {
    display: inline-block;
    line-height: 16px;
    vertical-align: top;
    letter-spacing: 0;
    font-size: 17px;
}
.art-list{
    margin: 20px 0 10px 0;
}
.art-list span{
    font-weight: bolder;
    font-size: 18px;
    cursor: default;
}
.art-list li{
    margin: 2px 0;
}
/*f v h a*/
.art-list a:link,.art-list a:visited,.art-list a:active{
    color: black;
}
.art-list a:hover{
    color: #66BAB7;
    transition: all .2s linear;
}
hr{
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
    border-bottom: 2px solid #eee !important;
}
.art-content{
    padding: 30px 0;
    margin: auto;
    cursor: default;
}
.art-content span,.art-content p{
    font-family: "Courier New", "新宋体" !important;
    font-size: 15px ;
}
.art-content pre{
    /*font-size: 9.8px;*/
    /*background-color: #2b2b2b;*/
    /*color: #a9b7c6;*/
    /*overflow-y: scroll;*/
    /*padding: 7px !important;*/
    border-radius: 10px;
}
.art-content code{
    border-radius: 10px;
    font-family: "Courier New", "新宋体" !important;
}
.comments-block code{
    border-radius: 10px;
    font-family: "Courier New", "新宋体" !important;
}
.art-content pre::-webkit-scrollbar {
    display: none;
}
.art-content a{
    word-break: break-all;

}
.art-content a, .art-content a:link, .art-content a:visited{
    color: black;
}
.art-content a:hover{
    background-color: #66BAB7;
    transition: all .3s linear;
}
.art-content a:active{
    color: black;
}
/*正文设置*/
.art-content img{
    max-width: 80%;
    margin: 0 10%;
    border-radius: 5px;
}

/*state*/
.state{
    margin: 30px auto;
    padding: 2px 0;
}
.state .post-licenses a:link,.state .post-licenses a:visited, .state .post-licenses a:hover, .state .post-licenses a:active{
   color: #66BAB7;
}
.mar{
    margin: 10px 0;
}
.post-licenses{
    margin: 5px 0;
    font-family: "Courier New", "新宋体";
}
.post-licenses div{
    font-style: normal;
    text-align: center;
    margin: 0;
}
.post-licenses span{
    height: 20px;
    line-height: 22px;
    position: relative;
    color: black;
}
.post-licenses span:hover{
    color: #66BAB7;
    transition: all .2s linear;
}
.post-tags{
    font-size: 15px;
    color: black;
}
.post-tags>span{
    width: 18px;
    height: 18px;
}
.post-tags>span>svg{
    vertical-align: top;
}
.post-tags>a{
    margin: 0 3px;
    color: black;
}
.post-tags>a:hover,.post-tags>span>svg:hover {
    color: #66BAB7;
    transition: all .2s linear;
}

.arrows{
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    font-family: "Courier New", "新宋体";
}
.arrows p{
    margin: 0;
}
.arrows>.previous{
    position: relative;
    cursor: pointer;
    float: left;
    width: 48%;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    border: gray solid 1px;
    box-sizing: border-box;
}
.previous div{
    margin: 5px 0;
}
.previous div>p:nth-child(1){
    font-weight: bolder;
}
.arrows>.previous:hover{
    color: white;
    background-color: #66BAB7;
    transition: all .4s linear;
    border: none;
}
.arrows>.next{
    position: relative;
    cursor: pointer;
    float: right;
    width: 48%;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    border: gray solid 1px;
    box-sizing: border-box;
}
.next div{
    margin: 5px 0;
}
.next div>p:nth-child(1){
    font-weight: bolder;
}
.arrows>.next:hover{
    color: white;
    background-color: #66BAB7;
    transition: all .4s linear;
    border: none;
}
ul{
    list-style: disc;
}
ul>li:before{
    content: '- ';
}
/*评论*/
.comments-block{
    width: 100%;
    margin: 30px auto;
}
.comments-block>h3{
    cursor: default;
}
.comments-block>.signal-comment{
    padding: 12px;
    box-sizing: border-box;
    border: 1px #66BAB7 solid;
    border-radius: 8px;
    margin: 12px auto;
}
.comments-block>.signal-comment p{
    margin: 0 !important;
}
.comments-block>.comment-editor{
    display: flex;
    flex-wrap: wrap;
    padding: 12px;
    box-sizing: border-box;
    border: 1px #66BAB7 solid;
    border-radius: 8px;
    margin: 12px auto;
}
.comment-editor>.left-editor{
    width: 50%;
}
.comment-editor>.right-editor{
    width: 50%;
}
#textVal{
    box-sizing: border-box;
    width: 100%;
    padding: 16px;
    height: 100px !important;
    max-height: 100px !important;
    border: grey solid 1px;
    border-radius: 8px;
    margin: 4px auto;
    resize: none;
    font-size: 16px;
}
#textVal:focus{
    outline: none;
    outline-offset: 0;
    border: 1px solid #66BAB7;
    transition: .25s linear all;
}
#textVal::-webkit-input-placeholder{
    font-size: 16px;
    font-family: "Courier New", "新宋体";
}
.mditor-mini{
    border: none !important;
}
.comment-editor>.left-editor>hm{
    display: block;
    font-weight: bolder;
    padding-bottom: 8px;
    margin: 0;
}
.comment-editor>.left-editor>input[type=text]{
    width: 90%;
    padding: 4px;
    height: 16px;
    border: grey solid 1px;
    border-radius: 8px;
    margin: 8px auto;
}
.comment-editor>.left-editor>input[type=text]::-webkit-input-placeholder{
    font-size: 16px;
    line-height: 26px;
    font-family: "Courier New", "新宋体";
    text-align: center;
}
.comment-editor>.left-editor>input[type=text]:focus{
    outline: none;
    outline-offset: 0;
}
.comment-profile{
    padding-bottom: 24px;
}
.comment-profile>span{
    color: grey;
}
.comment-profile>span:nth-child(1){
    color: #66BAB7;
}
#error{
    color: red;
    cursor: default;
    width: 100%;
    text-align: center;
}
#postComment{
    cursor: pointer;
    width: 100%;
    margin: 0;
    padding: 15px 25px;
    text-transform: none;
    color: #535a63;
    background: 0 0;
    border-right: 0;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    transition: all .1s ease-out;
    box-shadow: none;
    border: 1px solid #66BAB7;
    text-shadow: none;
    border-radius: 8px;
    font-size: 16px;
    color: grey;
}
.mditor-mini-bar{
    display: none !important;
}
#postComment:focus{
    outline: none;
}
#postComment:hover{
    color: white;
    background-color: #66BAB7;
    transition: all .4s linear;
}
@media screen and (max-width: 900px){
    .body-container{
        width: 100%;
    }
    .body-main{
        width: 94%;
    }
    .art-list{
        padding-top: 30px;
    }
}
