/*只有主页面会用到的css*/
.first-page {
    position: relative;
    width: 1530px;
    height: 722px;
}

.first-page-img {

}

.first-page-img:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url('../image/new.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity 700ms;
    filter: blur(2px);
    z-index: -100;
}

.introduction {
    position: absolute;
    margin-left: 50%;
    width: 600px;
    height: 200px;
    transform: translate(-50%, 100%);
    filter: blur(0);
}

.introduction img {
    transform: rotate(0);
}

.introduction img {
    /*object-fit: cover;*/
    width: 100px;
    height: 100px;
    padding: 5px;
    border-radius: 50%;
    box-shadow: inset 0 0 10px grey;
    margin: 0;
    opacity: 0;
}

.introduction > div {
    margin-left: 300px;
    margin-top: 30px;
    background-color: #66BAB7;
    opacity: 0;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    height: 80px;
    color: snow;
    font-size: 20px;
    cursor: default;
}

.introduction > div > p {
    padding: 10px 0 0 0;
    margin: 0;
}

@keyframes svg-moving {
    0% {
        margin-top: 0;
    }
    100% {
        margin-top: 10px;
    }
}

.introduction svg {
    opacity: 0;
    cursor: pointer;
    animation: svg-moving .7s ease infinite;
}

.body-container {
    position: relative;
    padding-top: 60px;
    width: 100%;
    height: auto;
    min-height: 700px;
    padding-bottom: 100px;
    z-index: 0;
    opacity: .9;
}

.body-main {
    opacity: .95;
    max-width: 800px;
    padding: 0 20px;
    margin: auto;
}

/*like-box*/
.like-box {
    opacity: 0;
    margin: 0 0 60px 0;
    width: 100%;
    height: 200px;
}

.like-box-mini {
    position: relative;
    float: left;
    width: 32%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 20px -8px rgb(0 0 0);
}

.like-box-mini:nth-child(1) {
    margin-right: 2%;
}

.like-box-mini:nth-child(3) {
    margin-left: 2%;
}

.like-box-mini > a {
    display: block;
    width: 100%;
    height: 100%;
}

.like-box-shadow {
    overflow: hidden;
    position: absolute;
    opacity: 0;
    background-color: white;
    width: 100%;
    height: 100%;
}

.like-box-sum {
    padding: 5%;
    overflow: hidden;
    width: auto;
    min-width: 90%;
    height: 80%;
    color: black;
    text-align: center;
}

.like-box-mini img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*line-block*/
.line-block:nth-child(1), .line-block:nth-child(2) {
    opacity: 0;
    margin: 15px 0 15px 0;
}

/*article*/
.article {
    overflow: hidden;
    width: 100%;
    height: 300px;
    background-color: white;
    padding: 0;
    margin-top: 35px;
    border-radius: 7px;
    box-shadow: 0 1px 20px -8px rgb(0 0 0);
}

/*left img*/
article {
    opacity: 0;
}

.art-left {
    width: 60%;
    height: 100%;
    overflow: hidden;
}

article:nth-child(even) > .art-left {
    float: right;
}

article:nth-child(odd) > .art-left {
    float: left;
}

.art-left > img {
    transform: scale(1.0, 1.0);
    transition: transform 0.7s ease;
    cursor: pointer;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.art-left > img:hover {
    transform: scale(1.1, 1.1);
    transition: transform 0.7s ease;
}

.art-right {
    padding: 2% 1% 0 1%;
    width: 38%;
    height: 96%;
}

article:nth-child(even) > .art-right {
    float: left;
}

article:nth-child(odd) > .art-right {
    float: right;
}

.show-date {
    cursor: default;
    color: #66BAB7;
    height: 13px;
    padding-bottom: 10px;
    padding-left: 5%;
    padding-right: 5%;
    overflow: hidden;
}

.show-date > svg {
    vertical-align: top;
    display: inline-block;
}

.show-date > div {
    vertical-align: top;
    display: inline-block;
    font-size: 13px;
}

.article h2 {
    cursor: default;
    margin-block-end: 0;
    margin-block-start: 0;
    padding-left: 5%;
    padding-right: 5%;
    color: #66BAB7;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.art-info {
    cursor: default;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #66BAB7;
    text-align: center;
    height: 15px;
    font-size: 13px;
}

.art-info-visitors {
    display: inline;
    margin-right: 20px;
    vertical-align: top;
}

.art-info-resource {
    display: inline;
    margin-right: 20px;
    vertical-align: top;
}

.art-info div span {
    display: inline-block;
    height: 15px;
    vertical-align: top;
}

.art-info div span svg {
    vertical-align: top;
}

.art-info div span div {
    vertical-align: center;
    display: inline-block;
    font-style: normal;
    line-height: 17px;
    height: 100%;
}

.art-info-resource > span > i {
    vertical-align: top;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    vert-align: top;
}

.art-content {
    display: block;
    width: 100%;
    /* padding-top: 5px; */
    margin: 0;
    height: auto;
    border-radius: 5px;
    max-height: 160px;
    overflow: hidden;
}

.art-content a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #66BAB7;
}

.art-content a div {
    padding: 10px 5%;
    word-wrap: break-word;
    font-size: 16px;
    word-break: break-all;
}

.justify-between {
    text-align: center;
    color: #66BAB7;
    font-size: 20px;
}

.justify-between a:link, .justify-between a:visited, .justify-between a:hover, .justify-between a:active {
    color: #66BAB7;
}

/*900px响应*/
@media screen and (max-width: 900px) {
    .introduction {
        width: 90%;
        margin-top: 60px;
    }

    .introduction > a {
        display: block;
        width: 100%;
    }

    .introduction > a > img {
        display: none;
    }

    .unit1 {
        display: none;
    }

    .article {
        height: auto;
    }

    article > .art-left {
        float: none !important;
        width: 100%;
        height: 50%;
    }

    article .art-left > img {
        height: 100%;
    }

    article > .art-right {
        float: none !important;
        width: 100%;
        height: auto;
    }

    .art-content > a > div > div {
        overflow: hidden;
    }

    .art-content > a > div {
        padding: 0;
    }
    .aplayer{
        display: none;
    }
}
